<!DOCTYPE html>
<html lang="uk" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
  <title>Про наші курси</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Про наші курси</h1>
  <p>
    Ласкаво просимо на платформу навчання програмуванню! Наші курси охоплюють різні аспекти розробки програмного забезпечення — від базових понять до поглиблених тем. Ми прагнемо забезпечити якісне навчання, що допоможе вам стати професіоналом у сфері ІТ.
  </p>
  <p>
    Наші курси включають:
  </p>
  <ul>
    <li>Основи програмування на Java, Python, та інших мовах.</li>
    <li>Сучасні фреймворки для веб-розробки, такі як Spring Boot та Django.</li>
    <li>Інструменти для розгортання та моніторингу додатків у хмарі.</li>
    <li>Практичні завдання та проекти, що готують вас до реальної роботи в ІТ.</li>
  </ul>
  <p>
    Приєднуйтесь до нашої спільноти, навчайтеся новому та відкрийте для себе можливості у світі програмування!
  </p>
</div>
</body>
</html>
