<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="${title}">Курси</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/default.min.css">
  <link rel="stylesheet" href="/css/all.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Курси</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">Про курс</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses">Курси</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <!-- Block for content of child templates -->
  <div layout:fragment="content">Контент по замовчуванню</div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/highlight.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    hljs.highlightAll();
  });
</script>

</body>
</html>
