<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="'Курс ' + ${courseName}">Курс</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Курсы</a>
</nav>

<div class="container mt-4">
  <h1 th:text="'Курс ' + ${courseName}">Курс</h1>
  <h2>Список уроков</h2>
  <ul>
    <li th:each="lesson : ${lessons}">
      <a th:href="@{'/courses/java/' + ${lesson}}" th:text="'Урок ' + ${lesson}">Урок</a>
    </li>
  </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
